.logoWrapper {
  display: block;
}

.st0 {
  fill: #007e9d;
}
.st1 {
  fill: #004d7c;
}
.st2 {
  fill: #006588;
}
.st3 {
  fill: #00b2ca;
}
.st4 {
  fill: #008baa;
}
.st5 {
  fill: #007da4;
}
.st6 {
  fill: #00b0ca;
}
.st7 {
  fill: #0085a4;
}
.st8 {
  fill: #008fab;
}
.st9 {
  fill: #07ccdb;
}
.st10 {
  fill: #006488;
}
.st11 {
  fill: #007ea1;
}
.st12 {
  fill: #0092ae;
}
.st13 {
  fill: #00b2cc;
}
.st14 {
  fill: #00b1c6;
}
.st15 {
  fill: #006487;
}
